img {
    width: 150px;
    height: 150px;
    margin: 100px;
    transition: transform 3s ease;
    animation: spin 3s alternate infinite ease-in-out;
}

img:hover {
  transform:rotate(370deg) scale(3);
  animation: spin 3s alternate infinite ease-in-out;
}
